- @content_class = "limit-container-width" unless fluid_layout
- page_title _("Edit"), @page.title.capitalize, _("Wiki")

= wiki_page_errors(@error)

.wiki-page-header.has-sidebar-toggle
  %button.btn.btn-default.sidebar-toggle.js-sidebar-wiki-toggle{ role: "button", type: "button" }
    = icon('angle-double-left')

  .nav-text
    %h2.wiki-page-title
      - if @page.persisted?
        = link_to @page.title.capitalize, project_wiki_path(@project, @page)
      - else
        = @page.title.capitalize
      %span.light
        &middot;
        - if @page.persisted?
          = s_("Wiki|Edit Page")
        - else
          = s_("Wiki|Create Page")

  .nav-controls
    - if can?(current_user, :create_wiki, @project)
      = link_to '#modal-new-wiki', class: "add-new-wiki btn btn-new", "data-toggle" => "modal" do
        = s_("Wiki|New page")
    - if @page.persisted?
      = link_to project_wiki_history_path(@project, @page), class: "btn" do
        = s_("Wiki|Page history")
      - if can?(current_user, :admin_wiki, @project)
        %button.btn.btn-danger{ data: { toggle: 'modal',
          target: '#delete-wiki-modal',
          delete_wiki_url: project_wiki_path(@project, @page),
          page_title: @page.title.capitalize },
          id: 'delete-wiki-button',
          type: 'button' }
          = _('Delete')

= render 'form'

= render 'sidebar'

#delete-wiki-modal.modal.fade

- content_for :scripts_body do
  -# haml-lint:disable InlineJavaScript
  :javascript
    window.uploads_path = "#{wiki_attachment_upload_url}";
